html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************************************************************************************************************************/

html
{
    overflow: hidden;
}

body
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

.leftMenu { /* Svarta baren till vänster */
    position: relative;
    float: left;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 350px;
}

.title /* My name showing up */
{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 50px;
    opacity: 1;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 12px;
}

/*.projects
{
    background-color: white;
    width: 340px; /* Width = 350-padding*2 *-/
    position: absolute;
    top: 90px;
    opacity: 0.5;
    padding: 5px;
}

.projects #text
{
    margin-left: 12px;
    opacity: 1;
    color: red;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
}*/

.pp /* Profile Picture */
{
    border-radius: 50%;
    position: absolute;
    height: 100px;
    width: 100px;

    left: 50%;
    transform: translate(-50%);
    top: 94px;
}

.quickInfo /* Quick information about me */
{
    line-height: 150%;
    /*border: 1px solid red;*/
    text-align: center;
    font-family: 'Inconsolata', monospace; 
    color: white;
    width: 90%;
    position: absolute;
    left: 50%;
    top: 230px;
    transform: translate(-50%);
}

.quickInfo .bold /* f.in. name, age, occupation */
{
    font-weight: bold;
    text-decoration: underline;
}

.randomLinks
{
    /*border: 1px solid red;*/
    position: absolute;
    height: 60px;
    width: 100%;
    text-align: center;

    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
}

.randomLinks #github
{
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 20%;
    /*border: 1px solid red;*/
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    transition: 0.15s;
}

.randomLinks #github:hover
{
    background-color: rgba(255, 255, 255, 1);
    transition: 0.2s;
}
